body{
    font-size:62.5%;
}

img{
    width:100%;
}
.wrapper{
    width:1084px;
    max-width:80%;
    margin:0 auto;
}

p{
    font-family: $body;
    color:$grey;
}

 h2{
    font-family: $heading;
    font-size:2rem;
}

h3{
    font-family: $heading;
    font-size:1rem;
    margin:.1rem;
    display:inline-block;
}

.headerNavContainer{
    background:white;
    position:fixed;
    top:0;
    width:100%;
}

.topNavContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:.15rem;
    margin: 0 1rem;
}

.topNav, .footerNav {
    ul{
        display:flex;
        flex-direction: row;
        margin:0;
        padding:0;
        
        li{
            margin:0.5rem;
            text-transform: uppercase;
            border-bottom:2px solid transparent;
            transition:all .3s;

            &:hover{
                border-bottom:2px solid $orange;
            }

            a{
                font-size:.8rem;
            }
        }
    }
}

li{
    list-style: none;
}

a{
    color:$black;
    letter-spacing:.1rem;
    text-decoration: none;
}

.mainHeaderContainer{
    background:$pale;
    border-radius: 3px 0px 0px 3px;
    height:90vh;
    margin:1rem 0 0 3rem;
    display:flex;
    align-items:center;
}

.arrow{
    margin-top:2rem;
    text-align: center;
    i{
        font-size:1.6rem;
        transition:all .2s;

        &:hover{
            color:$orange;
        }
    }
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


button, .submit{
    font-family:$heading;
    text-transform: uppercase;
    background:$orange;
    border:1px solid transparent;
    padding:.5rem 1rem;
    border-radius:2px;
}

.titleContainer{
    margin:0 auto;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        font-family: $heading;
        font-size:4rem;
        margin:0;
    }
    p{
        font-size:1rem;
        letter-spacing:.05rem;
        margin:0;
        text-transform: uppercase;
    }
}

.titleBorder{
    border:2px solid $orange;
    border-right:none;
    border-top:none;
    padding:2rem;
}

.titleButton button{
    margin-top:1rem;
    border:1px solid transparent;
    transition:all .3s;

    &:hover{
        background:$pale;
        border:1px solid $orange;
    }

    a{
        font-size: 1rem;
        font-weight: 700;
    }
}

.about{
    height:100vh;
    display:flex;
    align-items: center;
}

.aboutMeInfo{
    display:flex;
    
    .aboutMeText{
        margin-right:1rem;
    }
    p{
        border-left: 1.5px solid 
        $orange;
        width:70%;
        padding-left:1rem;
        font-size:1rem;
        line-height:1.6rem;
        letter-spacing:.02rem;
        margin:0;
    }
    
    .aboutButton{
        display:flex;
        align-items: center;
        margin:.5rem;
        
        button{
            border:1px solid transparent;
            transition:all .3s;

            &:hover{
                border:1px solid $orange;
                background:$pale;
            }
            a{
                font-size: 1rem;
                font-weight: 700;
            }
        }
    } 
}

.aboutImg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        border-radius: 3px;
        top:10px;
    }
}

.projects{
    background:$pale;
    border-radius: 3px;
    padding-bottom:5rem;
    
    h2{
        margin:0;
        text-align: center;
        font-size:3rem;
        padding-top:2rem;
        letter-spacing: .05rem;
    }
}

.projectsContainer{
    display:flex;
    flex-direction: column;
}

.singleProjectContainer{
    width:80%;
    margin:3rem auto;
    transition:all .3s;
    text-align: center;
    display:flex;
}

.projectInfo{
    width:50%;
    text-align: center;
    h4{
        margin:0;
        padding:1rem;
        font-family: $heading;
        font-size:2rem;
        letter-spacing: .05rem;
        line-height:1.1rem;
        border-bottom:1px solid $orange;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
        margin:1rem auto;
        width:90%;
        
    }
}

.alexa {
        color:$grey;
        font-style:italic;
        border-bottom:1px solid $grey;
}

.projectLanguagesContainer{
    p{
        font-size:1rem;
        line-height:1.2rem;
    }
}

.projectImageContainer{
    width:40%;
    margin:1rem;
    border-radius: 3px;
}

.projectButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    button{
        width:40%;
    }
}

.liveButton{
    border:1px solid transparent;
    margin-right:.5rem;
    font-size:1.2rem;
    &:hover{
        background:$pale;
        border:1px solid $orange;

        a{
            color:$orange;
        }
    }
}

.githubButton{
    background:$pale;
    border:1px solid $orange;
    padding:.5rem 1rem;
    border-radius: 2px;
    letter-spacing: .1rem;
    transition: all .3s;

    a{
        font-size:1.2rem;
    }

    &:hover{
        background:$orange;
        border:1px solid $black;

        a{
            color:$black;
        }
    }
}


.languages{
    background:$orange;
    text-align: center;
    margin:0 auto;
    padding:2rem 0rem;
}

.languageContainer{
    h2{
        color:black;
        margin:1rem auto;

    }
}

.skillsIconContainer{
    display:flex;
    justify-content: space-between;
    margin-bottom:1rem;

    i{
        font-size:3rem;
    }
}

.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 0;
    // height:100vh;
}

.touchContainer{

    h2{
        text-align:center;
        margin:2rem;
    }

}

.formContainer{
    display:flex;
}

fieldset{
    border-radius: 3px;
    padding:1rem;
}

.formFlex{
    display:flex;
    flex-direction: column;
}

.footerIconContainer{
    margin-top:1rem;
    display:flex;
    justify-content: flex-end;

    ul{
        margin:0;
        padding:0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
       
        li{
            font-size:1.4rem;
            margin-left:1rem;
            transition:all .3s;
            
            a:hover{
                transition:.3s;
                color:$orange;
            } 
        }
    }
}

form{
    input{
        margin-top:.5rem;
        font-size:1rem;
        border:2px solid transparent;
        border-bottom:2px solid $orange;
        padding:.3rem;

        &:focus{
            border:2px solid rgb(87, 199, 236);
        }
    }
}

.nameEmailContainer{
    display:flex;
    flex-direction: row;

    .name{
        margin-right:2rem;
    }
}

.messageContainer{
    margin-top:1rem;
    display:flex;
    flex-direction:column;

    textarea{
        border:1px solid $grey;
        margin-top:1rem;
        padding:1rem;
    }
}

label{
    font-size:1rem;
    font-family: $heading;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.submitContainer{
    display:flex;
    justify-content: center;

    .submit{
        margin-top:2rem;
        border:1px solid transparent;
        transition:all .3s;
        text-align: center;
    
    
        &:hover{
            border:1px solid $orange;
            background:$pale;
        }
    }
}

footer{
    background:$footer;
    padding:1rem;
    display:flex;
    flex-direction: column;

    h3{
        margin:0 auto;
    }
} 

.bottomNavContainer{
    margin-top:2rem;
}

.footerNav{
    width:70%;
    margin: 0 auto;
    ul{
        margin:0;
        padding:0;
        display:flex;
        justify-content: space-between;
    }
}