body{
    font-size:62.5%;
}

img{
    width:100%;
}
.wrapper{
    width:1084px;
    max-width:80%;
    margin:0 auto;

}


p{
    font-family: $body;
    color:$grey;
}

 h2{
    font-family: $heading;
    font-size:2rem;
}

h3{
    font-family: $heading;
    font-size:1rem;
    margin:.1rem;
}

.headerNavContainer, .bottomNavContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
}


.topNav, .footerNav {
    ul{
        display:flex;
        flex-direction: row;
        margin:0;
        
        li{
            margin:0.5rem;
            text-transform: uppercase;
            border-bottom:2px solid transparent;
            transition:all .3s;

            &:hover{
                border-bottom:2px solid $orange;
            }

            a{
                font-size:.8rem;
            }
        }
    }
}

li{
    list-style: none;
}

a{
    color:$black;
    letter-spacing:.1rem;
    text-decoration: none;
}

.mainHeaderContainer{
    background:$pale;
    border-radius: 3px 0px 0px 3px;
    height:90vh;
    margin:0 0 0 3rem;
    display:flex;
    align-items:center;
}

.arrow{
    margin-top:2rem;
    text-align: center;
    i{
        font-size:1rem;
        transition:all .2s;

        &:hover{
            color:$orange;
        }
    }
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


button, .submit{
    font-family:$heading;
    text-transform: uppercase;
    background:$orange;
    border:1px solid transparent;
    padding:.5rem 1rem;
    border-radius:2px;
}

.titleContainer{
    margin:0 auto;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        font-family: $heading;
        font-size:4rem;
        margin:0;
    }
    p{
        font-size:1.3rem;
        margin:0;
        // margin-top:.5rem;
    }
}

.titleBorder{
    border:2px solid $orange;
    border-right:none;
    border-top:none;
    padding:2rem;
}

.titleButton{
    margin-top:1rem;
}

// .socialNavTop{
//     width:20%;
//     ul{
//         padding:0;
//         display:flex;
//         justify-content: space-between;
        
//         li{
//             font-size:1rem;
//             margin-right:.5rem;
//             border:.5px solid transparent;
//             border-radius:10%;
//             transition:all .3s;

//             &:hover{
//                 color:$pale;
//                 background:$orange;
//                 border:.5px solid $black;
//             }
//         }
//     }
// }

.about{
    height:100vh;
    display:flex;
    align-items: center;
}

.aboutMeInfo{
    display:flex;
    
    .aboutMeText{
        margin-right:1rem;
    }
    p{
        border-left: 1.5px solid $orange;
        padding-left:1rem;
        font-size:.8rem;
        line-height:1.6rem;
        letter-spacing:.02rem;
        margin:0;
    }
    
    .aboutButton{
        display:flex;
        align-items: center;
        margin:.5rem;
        
        button{
            a{
                
                font-size: 1rem;
            }
        }
    }
    
}


.headshotContainer{
    width:100%;
    margin:1rem;

    img{
        border-radius: 3px;
        top:10px;
    }
}

.projects{
    background:$pale;
    height:80vh;
    border-radius: 3px;
    
    h2{
        text-align: center;
        padding-top:2rem;
        letter-spacing: .05rem;
    }
}

.projectWrapper{
    display:flex;
    align-items:center;
    width:1500px;
    max-width:98%;
    margin:0 auto;
    h2{ 
       padding-top:1rem;
    }
}

.projectsContainer{
    display:flex;
    justify-content: space-between;
}

.singleProjectContainer{
    width:30%;
    margin:.25rem;
    transition:all .3s;
    text-align: center;

    &:hover{
        flex-grow: 1;
    }

    &:active{
        flex-grow:1;
    }
    .projectButtonContainer{
        display:flex;
        justify-content: space-around;

        button{
            width:40%;
        }
    }
}

.projectImageContainer{
    width:100%;
    border-radius: 3px;
}

.githubButton{
    background:$pale;
    border:1px solid $orange;
    padding:.5rem 1rem;
    border-radius: 2px;
    letter-spacing: .1rem;
    transition: all .3s;

    &:hover{
        background:$orange;
        border:1px solid $black;

        a{
            color:$black;
        }
    }
}

.liveButton{
    border:1px solid transparent;

    &:hover{
        background:$pale;
        border:1px solid $orange;

        a{
            color:$orange;
        }
    }
}

.languages{
    background:$orange;
    text-align: center;
    margin:0 auto;
    padding:1rem 0rem;
}

.languageContainer{
    h2{
        color:$black;
    }
}

.skillsIconContainer{
    display:flex;
    justify-content: space-between;

    i{
        font-size:3rem;

    }
}

.contact{
    display:flex;
    align-items: center;
    padding:1rem 0;
    height:100vh;

}

.touchContainer{
    width:35%; 
    display:flex;
    margin-right:1rem;
    flex-direction: column;
    align-content:right;
    justify-content:right;

    h2{
        text-align:right;
        margin:0;
    }

}

.formContainer{
    width:60%;
    display:flex;
    // align-content: center;
}

fieldset{
    border-radius: 3px;
    padding:1rem;
}
.formFlex{
    display:flex;
}

.touchPicContainer{
    margin-top:1rem;
    display:flex;
    justify-content: flex-end;

    img{
        border-radius: 3px;
        width:90%;
    }
}

form{
    input{
        margin-top:.5rem;
        font-size:1rem;
        border:2px solid transparent;
        border-bottom:2px solid $orange;
        padding:.3rem;

        &:focus{
            border:2px solid rgb(87, 199, 236);
        }
    }
}

.nameEmailContainer{
    width:50%;
    display:flex;
    flex-direction: column;

    .name{
        margin-bottom:1rem;
    }

}

.messageContainer{
    margin-left:2rem;
    width:50%;

    textarea{
        margin-top:1rem;
    }

}

label{
    font-size:1rem;
    font-family: $heading;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.submit{
    margin-top:2rem;
}


footer{
    background:$footer;
    padding:1rem;

    h3{
        text-align: center;
    }
} 

.bottomNavContainer{
    margin-top:2rem;
}

.footerNav{
    width:70%;
    ul{
        margin:0;
        padding:0;
        display:flex;
        justify-content: space-aronud;
    }
}
.footerIconContainer{
    width:30%;

    ul{
        margin:0;
        padding:0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
       
        li{
            font-size:1rem;
        }
    }
}